{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingkey := promptStringOnce . "signingkey" "Signing key" -}}

[data]
    email = {{ $email | quote }}
    signingkey = {{ $signingkey | quote }}
{{- if ne .chezmoi.os "windows" }}
[edit]
    command = "code"
    args = ["--wait"]
{{ end }}
