fpath=(/usr/local/share/zsh-completions $fpath)

source "$(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh"
source "$(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
eval "$(starship init zsh)"

if [ -e "${HOME}/.iterm2_shell_integration.zsh" ]; then
    source "${HOME}/.iterm2_shell_integration.zsh"
{{- range .iTermUtilities }}
    alias {{ . }}="~/.iterm2/{{ . }}"
{{- end }}
fi
